.h1 {
	color: #5BC43AFF;
}

body {
	background-image: url(../images/welcome.png);
	background-repeat: no-repeat;
	background-position: center;
}

.paragraph {
	font-family: sans-serif;
	font-size: 26px;
	font-weight: bolder;
	line-height: 2em;
	padding: 50px;
	margin: 20px;
	
}

#footer {
	background-color: rgb(255,0,0);
}

a:link {
	color: green;
}

a:visited {
	color: blue;
}

a:hover {
	color: yellow;
}

div#tableContainer {
	display: table;
}

div#tableRow {
	display: table-row;
}

#main {
	display: table-cell;
	padding: 30px;
}

#sidebar {
	display: table-cell;
	padding: 30px;
}